@page 
@model ASPIntro.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Filmes</h1>

<button type="btn-primary">
    <a asp-page="Create">Cria um novo Filme</a>
</Button>

<form>
    <p>
        Género: <select asp-for="GeneroFilme" asp-items="Model.Genero">
            <option value="">All</option>
        </select>
        Título: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filtrar" />
    </p>
    
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Filme) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
